/* FILTERS */

.filtersort-form {
  --icon-width: 2.4rem;
  --icon-pad-horz: 10px;

  display: flex;
  gap: 2rem;

  /* to align items (only effectual when items have unequal height) */
  align-items: start;

  &:is(fieldset) {
    margin-block-end: 0;
  }

  /* to prevent wide fields from exceeding fieldset width */
  & .filtersort__filter,
  & .filtersort__input {
    min-width: 0;
  }
}

.filtersort__filter {
  display: flex;
  align-items: center;

  &:is(label) {
    margin-block-end: 0;
  }
}

.filtersort__label + .filtersort__input {
  margin-inline-start: 1em;
}

.filtersort__filter output {
  min-width: 4ch;
}
.filtersort__input + output {
  margin-left: 1em;
}

.filtersort__filter:has([type="search"]) {
  /* to set max and min width of field */
  flex-grow: 1;

  /* to align icon atop search field */
  display: grid;
  grid-auto-flow: column;
  & .filtersort__input {
    grid-row: 1 / 1;
    grid-column: 1 / 2;
  }
  & .filtersort__icon {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    z-index: 1;
    align-self: center;
  }

  /* to place icon inside search field */
  .filtersort__input {
    min-width: 14ch; /* to require enough space to read placeholder */
    text-indent: calc(var(--icon-width) + var(--icon-pad-horz));
  }
  .filtersort__icon {
    box-sizing: content-box;
    margin-inline: var(--icon-pad-horz);
  }
}


/* TABLE */

table.js-filtersort {
  & tbody:empty::before {
    content: 'No results found';
  }

  & button.js-sort::after {
    font-size: smaller;
  }
  & th[aria-sort="ascending"] > button.js-sort::after { content: '▲'; }
  & th[aria-sort="descending"] > button.js-sort::after { content: '▼'; }
}

button.js-sort {
  width: 100%; /* so entire cell is clickable */

  &:focus-visible {
    outline-offset: 0.25em;
  }
}
